@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*colors*/

:root {
    --background-color:rgb(245, 248, 251);
    --text-title-color: #053D4E;
    --text-color: #32363B;
    --icon-color: #32363B;
    --icon-menu-color: #707780;
    --menu-color: #707780;

    --text-selected-color: #355CC0;
    --background-selected: #EBF0FF;
    --backgground-hover: #F7F9FA;

    --border-color: #E6E9ED;

}

/*Global Styles*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

/*Body Styles*/ 
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/*header styles*/
header{
    
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 2rem 0.25rem 1.17rem;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    background-color: var(--background-color);
    top: 0;
    left: 0;

}

/*left styles*/
.left{
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;

}

/*Menu styles*/
.menu-container{
    
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;    
}

.menu{
    width: 1.5rem;
    height: 37%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.menu.menu-toggle div:first-child{
    width: 40%;
    transform: rotate(-35deg) translate(-30%,175%);
}

.menu.menu-toggle div:last-child{
    width: 40%;
    transform: rotate(35deg) translate(-30%, -160%);
}

.menu div{
    width: 100%;
    height: 0.15rem;
    background-color: var(--icon-menu-color);
    transition: all 0.2s ease;
}

/*brand styles*/

.brand{
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.brand .logo{
    width: 1.5rem;
}

.brand .name{
    
    font-size: 1.5rem;
    color: var(--text-title-color);
    font-weight: 900;
}


/*right styles*/
.right{
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.right a{
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    transition:  background-color 0.2 ease;
}

.right a:hover{
    background-color: var(--backgground-hover);
}

.right img{
    width: 1.5rem;
    margin: 0.5rem;
}

.right .user{
    width: 2.1rem;
    border-radius: 30% ;
}   
/*sidebar styles*/
.sidebar img{
    width: 1.6rem;
}

.sidebar{
    margin-top: 4rem;
    width: 4rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;    
    z-index: 100;
    padding: 1.1rem 0;
    border-right: 1 px solid var(--border-color);
    overflow-y: auto;
    background-color: var(--background-color);
    transition: width 0.5s ease;
}

.sidebar.menu-toggle{
    width: 18.75rem;
}


.sidebar a{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 0.9rem 0.7rem;
    text-decoration: none;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-color);
}

.siderbar a:hover{
    background-color: var(--backgground-hover);
}

.sidebar a.selected{
    background-color: var(--background-selected);
    color: var(--text-selected-color);
    
}

.sidebar a.search{    
    padding: 1rem 0.7rem;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 0.2rem;

}

/*main styles*/
main{
    margin-top: 4rem;
    margin-left: 4rem;
    padding: 2rem;
    transition: padding-left 0.5s ease;
    flex: 1;
   
}

main.menu-toggle{
    padding-left: 18.75rem;
}

/*Responsive styles*/
@media (max-width: 500px) {
    .right .icons-header{
        display: none;
    }   
    .sidebar{
        width: 0;
    }
    main{
        margin-left: 0;
    }

    main.menu-toggle{
        margin-left: 0;
    }
    
    .menu.menu-toggle div:first-child{
        width: 100%;
        transform: rotate(-45deg) translate(-0.2rem,0.3rem);
    }
    .menu.menu-toggle div:nth-child(2){
        opacity: 0;
    }
    .menu.menu-toggle div:last-child{
        width: 100%;
        transform: rotate(45deg) translate(-0.2rem,-0.3rem);
    }
}


/*footer styles*/
footer {
      z-index: 200;
      background-color: #333;
      color: white;
      padding: 15px 20px;
      text-align: center;
      
    }