{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
        {% block title %}
            Sistema  Gestión de Activos
        {% endblock %}
    </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <header>
            <div class="left">
                <div class="menu-container">
                    <div class="menu" id="menu">
                        <div></div>
                        <div></div>
                        <div></div>    
                    </div>
                </div>
                <div class="brand">
                    <img src="{% static 'icons/udemy.svg' %}" alt="icon-udemy" class="logo" />
                    <span class="name">Fecadi</span>
                </div>
            </div>
            
                

            <div class="right">
                <a href="#">
                    <img src="{% static 'icons/chat.svg' %}" alt="chat"/>
                </a>
                <a href="#">
                    <img src="{% static 'icons/question.svg' %}" alt="question"/>
                </a>
                <a href="#">
                    <img src="{% static 'icons/notification.svg' %}" alt="notification"/>
                </a>
                <img src="{% static 'icons/user.svg' %}" alt="img-user" class="user"/>
            </div> 
        </header>
        <div class="sidebar " id="sidebar">
                <nav>
                    <ul>
                        <li>
                            <a href="#" class="search">
                                <img src="{% static 'icons/search1.svg' %}" alt="" />
                                <span>Buscar</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class= "selected">
                                <img src="{% static 'icons/dashboard.svg' %}" alt="" />
                                <span>Pagina de Inicio</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'icons/pc.svg' %}" alt="" />
                                <span>Equipos</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'icons/repuesto.svg' %}" alt="" />
                                <span>Repuestos</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'icons/informe.svg' %}" alt="" />
                                <span>Informes</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'icons/money.svg' %}" alt="" />
                                <span>Presupuesto</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'icons/tool.svg' %}" alt="" />
                                <span>Herramientas</span>
                            </a>
                        </li>
                    </ul>            
                </nav>
        </div>

      
            
       {% block container%}
         {% endblock %}
        
        <script src="{% static 'js/script.js' %}"></script>   
    </body>
</html>