{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
        {% block title %}
            Sistema  Gestión de Activos
        {% endblock %}
    </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <header>
            <div class="left">
                <div class="menu-container">
                    <div class="menu" id="menu">
                        <div></div>
                        <div></div>
                        <div></div>    
                    </div>
                </div>
                <div class="brand">
                    <img src="{% static 'icons/logo1.svg' %}" alt="icon-logo" class="logo" />
                    <span class="name">Fecadi</span>
                </div>
            </div>
            <div class="right">
                <a href="#" class="icons-header">
                    <img src="{% static 'icons/chat.svg' %}" alt="chat"/>
                </a>
                <a href="#" class="icons-header">
                    <img src="{% static 'icons/question.svg' %}" alt="question"/>
                </a>
                <a href="#" class="icons-header">
                    <img src="{% static 'icons/notification.svg' %}" alt="notification"/>
                </a>
                <img src="{% static 'icons/user.svg' %}" alt="img-user" class="user"/>
            </div> 
        </header>
        <div class="sidebar " id="sidebar">
                <nav>
                    <ul>
                        <li>
                            <a href="#" class="search" title="Buscar">
                                <img src="{% static 'icons/search1.svg' %}" alt="" />
                                <span>Buscar</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'sistema:index' %}" class= "selected" title="Pagina de Inicio">
                                <img src="{% static 'icons/dashboard.svg' %}" alt="" />
                                <span>Pagina de Inicio</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'sistema:computer' %}" title="Computadores">
                                <img src="{% static 'icons/pc.svg' %}" alt="" />
                                <span>Computadores</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Repuestos">
                                <img src="{% static 'icons/repuesto.svg' %}" alt="" />
                                <span>Repuestos</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Accesorios">
                                <img src="{% static 'icons/accesories.svg' %}" alt="" />
                                <span>Accesorios</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Informes">
                                <img src="{% static 'icons/informe.svg' %}" alt="" />
                                <span>Informes</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Compras">
                                <img src="{% static 'icons/compras.svg' %}" alt="" />
                                <span>Compras</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Herramientas">
                                <img src="{% static 'icons/tool.svg' %}" alt="" />
                                <span>Herramientas</span>
                            </a>
                        </li>
                    </ul>            
                </nav>
        </div>
        <main id="main">
            {% block container %}
            {% endblock %}
        </main> 

        
            <footer>
                 © 2025 DFUSEDAD. Todos los derechos reservados.
            </footer>
        
            
        <script src="{% static 'js/script.js' %}"></script>   
    </body>
</html>